<div class="system-view-indoor">
  <div class="system-view-heading">
    <h1>Convidar Colaboradores</h1>
  </div>

  <div class="system-view-body">
    <div class="w-full flex flex-wrap gap-4">
      <mat-form-field class="w-[400px] grow sm:w-full">
        <mat-label>Email</mat-label>
        <input matInput type="email" [formControl]="email">
        <mat-error>{{ inputValidator.getErrorMessage(email) }}</mat-error>
      </mat-form-field>

      <button mat-fab extended type="submit" (click)="sendEmail()">
        <mat-icon>send</mat-icon>
        <span>Enviar</span>
      </button>
    </div>

    <div class="w-full h-full flex flex-col gap-2">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex.: Nome, CPF ou Email" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort appExportableTable matTooltip="Clique com o botão direito para exportar">

          @for (column of columns; track $index) {
            <ng-container [matColumnDef]="column.columnDef" [sticky]="column.sticky" [stickyEnd]="column.stickyEnd">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}</th>
              <td mat-cell *matCellDef="let row">{{ column.columnDef !== 'cpf' ? column.cell(row) : formatarCPF(column.cell(row)) }}</td>
            </ng-container>
          }

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
</div>
